.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .header {
    grid-column: span 12;
  }
  .navigation-menu {
    grid-column: span 4;
  }
  .main-content {
    grid-column: span 8;
  }
  .footer {
    grid-column: span 12;
  }


h1#logo {
	position:absolute;
	top:37px;
	left:0;
}
h1#logo a {
	float:left;
	width: 200px;
    height: 150px;
	background:url('../images/logo.jpg') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}